project:
  type: website
  output-dir: docs
  render:
    - "race_notebooks/index.qmd"
    - "race_notebooks/oneday_predictor.qmd"
    - "race_notebooks/stagerace_predictor.qmd"
    - "race_notebooks/historical_analysis.qmd"

jupyter: julia-1.12

website:
  title: "Velogames"
  sidebar:
    style: "docked"
    contents:
      - href: race_notebooks/index.qmd
        text: "Overview"
      - href: race_notebooks/oneday_predictor.qmd
        text: "One-day predictor"
      - href: race_notebooks/stagerace_predictor.qmd
        text: "Stage race predictor"
      - href: race_notebooks/historical_analysis.qmd
        text: "Historical analysis"

format:
  html:
    theme: flatly
    toc: true
    toc_float: true

fig-cap-location: top
tbl-cap-location: top
fig-format: svg
link-external-icon: true

execute:
  echo: false
  warning: false
  cache: false
  freeze: auto

date-format: long
